//global variables
$body-bg-color: #0e1129;
$body-color: #ffffff;
$dark-color: #000;
$light-purple: #9da5d1;
$medium-purple: #644aff;
$light-blue: #09a5d1;
$medium-blue: #4e87c7;
$dark-blue: #2b3566;
$green-water: #4ed8c7;
