/*variables*/
@import "./partials/variables";

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  font-family: "Inter", sans-serif;
  color: $body-color;
  background-color: $body-bg-color;
  padding: 2rem;

  h1,
  h2,
  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
